/* 1. Import Tailwind */
@import "tailwindcss";


/* 4. Apply font globally */
body {
  font-family: 'Bebas Neue', serif;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
 
}

/* 5. Optional font utility classes */
.font-tavirs {
  font-family: 'Tavirs', serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}
.bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Tavirs';
  src: url('./assets/fonts/tavirs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}   

